{% extends 'base.html' %}

{% block content %}
<p></p>    
<form action="{% url 'home' %}" method="get" id="sortProduct">
        <h5>
            <span>Отфильтровать по полу:</span>
            <span><input value="По умолчанию" name="filter" type="submit"></span>
            <span><input type="submit" name="filter" value="Женский"></span>
            <span><input type="submit" name="filter" value="Мужской"></span>
        </h5>
    </form>
    <div class="card-columns">    
        {% for post in object_list %}
            <div class="card text-center">
                <div class="post-entery">
                    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                    <img src="{{ post.img.url }}" style ="width:492px; height:600px;" >
                    <p>Пол: {{ post.sex_k }}</p>
                    <p>Описание:</p>
                    <p>{{ post.body }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
