{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
        <div class="post-entery">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <img src="{{ post.img.url }}" style ="width:500px; height:600px;" >
            <p>{{ post.sex_k }}</p>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}
    <form action="{% url 'home' %}" method="get" id="sortProduct">
        <div class="box sort pull-right">
            <span>Пол:</span>
            <button value="Сортировка" class="dropdown-toggle" type="submit" data-toggle="dropdown" id="menu2">
                <span class="dropdown-label">По умолчанию</span>
            </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
            <li><input type="submit" name="filter" value="Female"></li>
            <li><input type="submit" name="filter" value="Male"></li>
         </ul>
        </div>
      </form>
{% endblock content %}
